header {
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 100%;
}

/* Logo */
.logo {
    width: 30%;
    margin-top: 35px;
    margin-left: 200px;
    text-align: center;
}
.logo a{
    font-size: 100px;
    color: white;
}

/* Menu */
.navigate {
    width: 70%;
}
.menu {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    padding-right: 120px;
}
.menu_item {
    color: white;
    font-size: 25px;
    margin-right: 50px;
    transition: all 0.2s ease 0s;
}

.menu_item:hover {
    border-bottom: 2px solid white;
}
